// @import 'nib'


.login
	background radial-gradient(center, #fff, #eee)
	color gray

	#login
		padding-top 6%
		h1 a
			background url('../img/logo.png') top center no-repeat
			width 220px
			height 150px
			margin-bottom 2rem

		#backtoblog,
		#nav
			a
				color #000
	form
		background-color #f0f0f0

